.container {
  background-color: #fff;
}

.headlineH1 {
  composes: headlineH1 from "../../styles/globalStyles.module.css";
}

.subHeadline {
  composes: headlineH2 from "../../styles/globalStyles.module.css";
  color: #3b3b3b;
  padding-top: 15px;
}

.headlineWrapper {
  text-align: center;
  margin-top: 50px;
}

.categoryWrapper {
  margin-top: 68px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}
